<head>

    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div class="nav">
    <div class="genel">
        <div class="navMenu">
            <ul>
                <li><a href="#" class="a">Anasayfa</a></li>
                <li><a href="#!/stats/" >Statistics</a></li>
            </ul>
        </div>
        <div class="navStatu">
            <a href="#" class="d">Film Sitemizde <strong>48</strong> Kategoride <strong>5236</strong> Dizi
                Bulunmaktadır.
            </a>
        </div>
    </div>
    <div class="header">
        <div class="genel">
            <a href="#!/view2/" class="logo-sekom"><h1 class="logo">FLAT<strong>DİZİ</strong></h1> </a>
                <div class="login">
                    <ul>
                        <li><a href="#" class="opt">&nbsp;</a></li>
                        <li><a href="#" class="fb">Facebook Giris</a></li>
                        <li><a href="#" class="ug">Üye Girisi</a></li>
                        <li><a href="#" class="ko">Kayıt Ol</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="menu">
                    <ul>
                        <li><a href="#!/view2/" class="d">Filmler</a></li>
                        <li><a href="#" class="d1">Film Türleri</a></li>
                        <li><a href="#" class="d2">Film Tavsiye</a></li>
                        <li><a href="#" class="d3">Film Takvimi</a></li>
                    </ul>
                </div>

                <div class="arama" style="margin-top: -87px">
                    <form action="#" method="POST">
                        <input type="text" name="kelime" placeholder="Arama yap..." ng-model="search" ng-change="getSearch(search)"/>
                        <!--<button type="submit" name="gonder"></button>-->
                    </form>
                </div>

                <div class="clear"></div>
                <div class="liste">
                    <ul>
                        <li><a href="#">a</a></li>
                        <li><a href="#">b</a></li>
                        <li><a href="#">c</a></li>
                        <li><a href="#">d</a></li>
                        <li><a href="#">e</a></li>
                        <li><a href="#">f</a></li>
                        <li><a href="#">g</a></li>
                        <li><a href="#">h</a></li>
                        <li><a href="#">i</a></li>
                        <li><a href="#">j</a></li>
                        <li><a href="#">k</a></li>
                        <li><a href="#">l</a></li>
                        <li><a href="#">m</a></li>
                        <li><a href="#">n</a></li>
                        <li><a href="#">o</a></li>
                        <li><a href="#">p</a></li>
                        <li><a href="#">q</a></li>
                        <li><a href="#">r</a></li>
                        <li><a href="#">s</a></li>
                        <li><a href="#">t</a></li>
                        <li><a href="#">u</a></li>
                        <li><a href="#">v</a></li>
                        <li><a href="#">w</a></li>
                        <li><a href="#">y</a></li>
                        <li><a href="#">z</a></li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="content">
        <div class="genel">
            <div class="clear"></div>

            <div class="title" style="padding-top: 30px">
                <h3>En Son Eklenen Filmler</h3>
            </div>

            <div class="clear"></div>


            <div class="diziList2">
                <ul>
                    <li ng-repeat="mov in movie.hits.hits">
                        <a href="" ng-click="getRelavantFilm(mov._source.ID)">
                            <img src="{{mov._source.Poster}}" alt="Poster Yok" width="196" height="125"/>
                            <strong>{{mov._source.Title}} <br/> {{mov._source.Genre}} | {{mov._source.imdbRating}}
                            </strong>
                        </a>
                    </li>
                    <div ng-if="show == true">
                        <div style="margin-left: 250px;color: white;" class="ng-binding">
                            {{movie.hits.hits[0]._source.Title}} <br>------------------------------------------------------------------------- <br>
                            {{movie.hits.hits[0]._source.Plot}} <br><br>
                            Director : {{movie.hits.hits[0]._source.Director}}<br>
                            Language : {{movie.hits.hits[0]._source.Language}}<br>
                            Year     : {{movie.hits.hits[0]._source.Year}} <br><br>

                        </div>
                    </div>
                </ul>

            </div>


            <div class="title2">
                <h3>Filters</h3>
            </div>
            <div class="topList">
                <ul>
                    <li><a href="" ng-click="overSeven()">IMDB 7+</a></li>
                    <li><a href="" ng-click="getFilter('action')"> Action </a></li>
                    <li><a href="" ng-click="getFilter('drama')">Drama</a></li>
                    <li><a href="" ng-click="getFilter('comedy')">Comedy</a></li>
                </ul>
            </div>

            <div>
                <form name="dateForm" style="margin-top: 220px; margin-left: 15px">

                    <select name="singleSelect" ng-model="data.singleSelect" ng-change="getYear(data.singleSelect)">
                        <option value="2010">2010</option>
                        <option value="option-2">Option 2</option>
                    </select><br>




                </form>

            </div>


            <div class="clear"></div>
            <div class="footer">
                <div class="genel">
                    <span class="copy">&copy;
                        2014 Copyright Flatdizi.com Tüm Hakları Saklıdır. - <strong>@anilatakoglu</strong></span>
                    <ul class="social">
                        <li><a href="#" class="f" title="Facebook"></a></li>
                        <li><a href="#" class="t" title="Twitter"></a></li>
                        <li><a href="#" class="g" title="Google+"></a></li>
                        <li><a href="#" class="android" title="Android"></a></li>
                        <li><a href="#" class="rss" title="RSS"></a></li>
                    </ul>
                </div>
            </div>




        </div>
    </div>




</div>



